body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS FOR SIGNUP PAGE */

html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffffff !important;
		}
		.user_card_signup {
			height: 700px;
			width: 500px;
			margin-top: 100px;
			margin-bottom: 100px;
			background: #89b08b;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container_signup {
            position: absolute;
			height: 170px;
			width: 170px;
			top: -55px;
			border-radius: 50%;
			background: #3C5148;
			padding: 10px;
			text-align: center;
		}
		.brand_logo_signup {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container_signup {
			margin-top: 100px;
		}
		.signup_btn {
			width: 100%;
			background: #3C5148 !important;
			color: white !important;
		}
		.signup_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.signup_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

/* CSS FOR LOGIN PAGE */
		.user_card_login {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #89b08b;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container_login {
            position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #3C5148;
			padding: 10px;
			text-align: center;
		}
		.brand_logo_login {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container_login {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #3C5148 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user_login,
		.input_pass_login:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: red!important;
		}

/* CSS for Applications View */

.applicationsHeader {
	text-align: center;
}

/* CSS for Single Application View */

.companyLocationDiv {
	float: right;
}

.companyName {
	font-size: x-large;
	margin-right: 120px;
}

.companyLocation {
	font-size: x-large;
	margin-right: 130px;
}

.appCard {
	width: 250%;
}

.contactTitle {
	text-align: center;
}

.contactBody, .notesTitle, .lastCommTitle, .interestTitle, .interestText, .taskHeader {
	text-align: center;
}

.contactBtn, .notesBtn, .addTask, .lastCommBtn, .editTaskBtn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.colMargin {
	margin-top: 3%;
}

.jobAdBtn{
	float: right;
	margin-right: 20%;
}
.editInterestBtn {
	float: left;
	margin-left: 20%;
}

.taskCard {
	margin-top: 3%;
}

.statusBtn {
	background:#007bff;
	padding: 16;
	text-align: center;
	margin-top: 3%;
	margin-left: 7%;
}

.notesText, .taskDescription {
	text-align: left;
	width: 200%;
}

.editNotesLabel {
	text-align: center;
}

/* PHONE INPUT CSS */

/* CSS variables. */
:root {
	--PhoneInput-color--focus: #03b2cb;
	--PhoneInputInternationalIconPhone-opacity: 0.8;
	--PhoneInputInternationalIconGlobe-opacity: 0.65;
	--PhoneInputCountrySelect-marginRight: 0.35em;
	--PhoneInputCountrySelectArrow-width: 0.3em;
	--PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
	--PhoneInputCountrySelectArrow-marginTop: calc(var(--PhoneInputCountrySelectArrow-height) / 2);
	--PhoneInputCountrySelectArrow-borderWidth: 1px;
	--PhoneInputCountrySelectArrow-opacity: 0.45;
	--PhoneInputCountrySelectArrow-color: inherit;
	--PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountrySelectArrow-transform: rotate(45deg);
	--PhoneInputCountryFlag-aspectRatio: 1.5;
	--PhoneInputCountryFlag-height: 1em;
	--PhoneInputCountryFlag-borderWidth: 1px;
	--PhoneInputCountryFlag-borderColor: rgba(0,0,0,0.5);
	--PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,0.1);
}

.PhoneInput {
	/* This is done to stretch the contents of this component. */
	display: flex;
	align-items: center;
}

.PhoneInputInput {
	/* The phone number input stretches to fill all empty space */
	flex: 1;
	/* The phone number input should shrink
	   to make room for the extension input */
	min-width: 0;
}

.PhoneInputCountryIcon {
	width: calc(var(--PhoneInputCountryFlag-height) * var(--PhoneInputCountryFlag-aspectRatio));
	height: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--square {
	width: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--border {
	/* Removed `background-color` because when an `<img/>` was still loading
	   it would show a dark gray rectangle. */
	/* For some reason the `<img/>` is not stretched to 100% width and height
	   and sometime there can be seen white pixels of the background at top and bottom. */
	background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
	/* Border is added via `box-shadow` because `border` interferes with `width`/`height`. */
	/* For some reason the `<img/>` is not stretched to 100% width and height
	   and sometime there can be seen white pixels of the background at top and bottom,
	   so an additional "inset" border is added. */
	box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
		inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor);
}

.PhoneInputCountryIconImg {
	/* Fixes weird vertical space above the flag icon. */
	/* https://gitlab.com/catamphetamine/react-phone-number-input/-/issues/7#note_348586559 */
	display: block;
	/* 3rd party <SVG/> flag icons won't stretch if they have `width` and `height`.
	   Also, if an <SVG/> icon's aspect ratio was different, it wouldn't fit too. */
	width: 100%;
	height: 100%;
}

.PhoneInputInternationalIconPhone {
	opacity: var(--PhoneInputInternationalIconPhone-opacity);
}

.PhoneInputInternationalIconGlobe {
	opacity: var(--PhoneInputInternationalIconGlobe-opacity);
}

/* Styling native country `<select/>`. */

.PhoneInputCountry {
	position: relative;
	align-self: stretch;
	display: flex;
	align-items: center;
	margin-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelect {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	border: 0;
	opacity: 0;
	cursor: pointer;
}

.PhoneInputCountrySelect[disabled] {
	cursor: default;
}

.PhoneInputCountrySelectArrow {
	display: block;
	content: '';
	width: var(--PhoneInputCountrySelectArrow-width);
	height: var(--PhoneInputCountrySelectArrow-width);
	margin-top: var(--PhoneInputCountrySelectArrow-marginTop);
	margin-left: var(--PhoneInputCountrySelectArrow-marginLeft);
	border-style: solid;
	border-color: var(--PhoneInputCountrySelectArrow-color);
	border-top-width: 0;
	border-bottom-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	border-left-width: 0;
	border-right-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	transform: var(--PhoneInputCountrySelectArrow-transform);
	opacity: var(--PhoneInputCountrySelectArrow-opacity);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
	opacity: 1;
	color: var(--PhoneInputCountrySelectArrow-color--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
	box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus),
		inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
	opacity: 1;
	color: var(--PhoneInputCountrySelectArrow-color--focus);
}

/* END PHONE INPUT CSS */
/* CSS for Search Page */
#search-container {
    padding: 50px;
}
#search-column {
    padding-top: 0px;
}
#search-column h3 {
    margin-top: 0px;
}
#search-column input, #search-column select {
    width: 100%;
}
#search-buttons {
    margin-top: 25px;
}
#search-buttons button {
    margin-right: 5px;
}
#search-modal {
    display: inline-block;
    margin-top: 10px;
}
#search-result-container {
    padding: 0px;
    margin: 0px;
}
#search-results-container .card-header {
    background-color: transparent;
    border: none;
}
.job-card {
    padding: 25px;
    margin: 0px;
    border-radius: 0px;
}
.job-card h4 {
    font-weight: bold;
}
.job-card h4, .job-card h5, .job-card h6, .job-card a {
    margin: 0px;
}
.job-card h5,
.job-card h6 {
    margin-top: 7px;
}
.job-card h6 + p {
    font-style: italic;
    margin-top: 10px;
    line-height: initial;
}
.job-card h6 + p + p {
    margin-bottom: 10px;
}
.job-card a {
    color: initial;
}
.job-card button {
    text-align: left;
    margin-top: 10px;
    margin-right: 5px;
}
.job-card:nth-child(even) {
    background-color: rgba(0,0,0,.05);
    border-top: none;
    border-bottom: none;
}
.job-card:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125)
}


